  <div class="container">
  {% extends "base.html" %}

  {% block content %}

    {% if user.is_authenticated %}
    <form action="" method="POST" enctype='multipart/form-data'>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="送信"/>
    </form>
    {% endif %}

    {% for obj in object_list %}
      <p>
      {% if obj.name %}{{ obj.name }}{% endif %}<br>
      {% if obj.message %}{{ obj.message }}{% endif %}<br>
      {% if obj.image %}<img  src="{{ obj.image.url }}" width="200" height="150" />{% endif %}<br>
      {% if obj.time %}{{ obj.time }}{% endif %}<br>
      </p>                   
    {% endfor %} 

  {% endblock %}
  </div>